.all-fire-wrapper {
    --all-fire-main-bg-color: #192A3C;
    --all-fire-font-primary-color: #ffffff;
    --all-fire-font-secondary-color: #A2BAE0;
    --all-fire-font-third-color: #DFEBFF;
    --all-fire-header-right-section-bg-color: #456586;
    --all-fire-header-minimize-button-bg-color: #0B1D2F;    
    --all-fire-header-minimize-button-color: #9FB8E2;    
    --all-fire-header-main-icon-bg-color: #102235;
    --my-particiapate-card-bg-color: #283848;
    --all-fire-footer-button-bg-color: #46596D;
    --all-fire-footer-button-primary-bg-color: #4285F4;
    --all-fire-footer-button-disabled-bg-color: rgba(107,120,133,0.7);
    --all-fire-selected-bg-color: #2C83FB;
    --all-fire-attack-chocolate-bg-color: #2C3E50;
    --all-fire-attack-chocolate-button-bg-color: #3C556E;

    color: var(--all-fire-font-primary-color);
    width: 51.5rem;
    position: absolute;
    top: 100px;
    right: 140px;
}

.all-fire-header {    
    width: 100%;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.50);    
    background-color: var(--all-fire-main-bg-color);
    border-radius: 11px;
    height: 14rem;    
    position: relative;
    display: flex;
    margin-bottom: 1rem;
}

.all-fire-header-minimize-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.50);
    transform: translate(-50%,-50%);
    background-color: var(--all-fire-header-minimize-button-bg-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-fire-header-minimize-button .minimize-icon {
    width: 1.5rem;
    height: 2px;
    background-color: var(--all-fire-header-minimize-button-color);
}

.all-fire-header-right {
    height: 14rem;
    width: 14rem;
    background: var(--all-fire-header-right-section-bg-color);
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem;
}

.all-fire-header-right-top-text {
    font-size: 2rem;
    color: #DFEBFF;
    min-height: 2rem;
}

.all-fire-header-buttom-top-text {
    font-size: 1.6rem;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 0.5rem 1.2rem;
    background-color: transparent;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--all-fire-main-bg-color);
    min-height: 2.5rem;
}

.all-fire-header-right-icons-wrapper {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: var(--all-fire-header-main-icon-bg-color);
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.all-fire-header-right-main-icon {    
    position: absolute;
}

.all-fire-header-right-side-left-icon {
    bottom: 0rem;
    left: 0rem;
    border: .2rem solid var(--all-fire-header-right-section-bg-color);
    border-radius: 50%;
    position: absolute;
    background: var(--all-fire-header-main-icon-bg-color);
}

.all-fire-header-center {   
    display: flex;
    align-items: baseline;
    margin-right: 2rem;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.all-fire-header-center-row {
    display: flex;
    align-items: center;
    .main-text {
        font-weight: bold;
    }
    .timer-wrapper {
        display: flex;
        align-items: center;
    }
    .timer-icon-wrapper {
        background: var(--all-fire-selected-bg-color);
        border-radius: 50%;
        height: 1.5rem;
        width: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0.5rem !important;
    }

    .timer-icon {
        width: 1rem;
        height: 1rem;
    }
    .timer-text {
        font-size: 1.8rem !important;
        color: var(--all-fire-font-third-color) !important;        
    }    
}

.all-fire-header-center-row span:first-child {
    font-size: 2.6rem;
    margin-left: 1rem;
}

.all-fire-header-center-row span:nth-child(2) {
    font-size: 2.2rem;
    color: var(--all-fire-font-secondary-color);
}

.all-fire-header-center-row:nth-child(2) span:first-child {
    font-size: 2.2rem;
    color: var(--all-fire-font-secondary-color);
}

.all-fire-header-center span:nth-child(2) {
    font-size: 2.2rem;
    color: var(--all-fire-font-secondary-color);
}

.all-fire-header-left {
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

.more-actions-btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    padding: 1rem;
    cursor: pointer; 
}

.more-actions-btn-ball {
    height: .4rem;
    width: .4rem;
    background-color: var(--all-fire-font-secondary-color);
    margin: .3rem 0;
    border-radius: 50%;
}

.all-fire-my-participates-wrapper {
    max-height: 70rem;    
    overflow: auto;
    transition: opacity 0.3s ease, max-height 0.3s 0.3s;
    opacity: 1;
}

.all-fire-my-participates-wrapper.closed {
    max-height: 0;
    opacity: 0;    
}

.all-fire-wrapper {
    .my-participate-card {
        background: var(--my-particiapate-card-bg-color);
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.50);
        border-radius: 11px;
        margin-bottom: 1rem;
        position: relative;
        display: flex;
        cursor: pointer;
        border: 0.3rem solid transparent;
    }

    .my-participate-card-right {
        height: 9rem;
        width: 9rem;
        background: var(--all-fire-main-bg-color);
        border-top-right-radius: 11px;
        border-bottom-right-radius: 11px;
        display: flex;
        padding: 0.5rem;
        position: relative;
        margin: -0.3rem -0.3rem;

        .right-images {
            display: flex;
            flex-direction: column;
            .top-image {
                margin-bottom: 1rem;
            }
        }
        .main-image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    .my-participate-card-right.external {
        height: 7rem;
        width: 14rem;
    }


    .my-participate-card.selected {
        border-color: var(--all-fire-selected-bg-color);
    }
    .my-participate-card-right.selected {
        background: var(--all-fire-selected-bg-color);
    }

    .my-participate-card-center {
        display: flex;
        align-items: baseline;
        margin-right: 2rem;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        max-width: 280px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .my-participate-card-center-row {

    }

    .my-participate-card-center-row span:first-child {
        font-size: 2.6rem;
        margin-left: 1rem;
    }
    
    .my-participate-card-center-row span:nth-child(2) {
        font-size: 2rem;
        color: var(--all-fire-font-secondary-color);
    }    
    .my-participate-card-left {
        margin-left: 2.5rem;
        display: flex;
        align-items: center;
    }

    .my-participate-card-expand-btn {
        cursor: pointer;
    }
}

.all-fire-participates-button {
    cursor: pointer;
    background: var(--all-fire-main-bg-color);
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.50);
    border-radius: 11px;
    height: 11rem;
    margin-bottom: 1rem;
    display: flex;
    padding: 0 2rem 0 2.5rem;
    align-items: center;

    .label {
        font-size: 2.6rem;
        margin-right: 4rem;
    }

    .all-fire-participates-logo {
        width: 5rem;
        height: 5rem;
    }

    .all-fire-other-participates-expand-btn {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: auto;
        transform: rotate(90deg);
        cursor: pointer;
    }

    .all-fire-my-participates-expand-btn {
        width: 1.5rem;
        height: 1.5rem;        
        transform: rotate(-90deg);
        cursor: pointer;
        margin-left: 2rem;
    }
}
.all-fire-footer-wrapper {
    display: flex;

    .all-fire-button {
        border: none;
        flex: 1;
        background-color: var(--all-fire-footer-button-bg-color);
        border-radius: 9px;
        margin-left: 1rem;
        color: var(--all-fire-font-primary-color);
        font-size: 2.2rem;
        height: 6.5rem;
        cursor: pointer;
    }

    .all-fire-button.primary {
        background-color: var(--all-fire-footer-button-primary-bg-color);
    }
    .all-fire-button.disabled {
        pointer-events: none;
        background-color: var(--all-fire-footer-button-disabled-bg-color);
    }
    .all-fire-button:last-child {
        margin-left: 0;
    }
}

.external-assist-attack-first-row-wrapper {
    width: 100%;
    height: 11.5rem;
    background-color: var(--all-fire-attack-chocolate-bg-color);
    margin-bottom: 1rem;
    border-radius: 1.1rem;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    overflow: auto;

    .attack-type-button {
        height: 8.5rem;
        border-radius: .8rem;
        background-color: var(--all-fire-attack-chocolate-button-bg-color);
        min-width: 11rem;
        margin-left: 1.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        &.selected {
            background-color: var(--all-fire-selected-bg-color);
        }
        .attack-description {
            font-size: 1.8rem;
            margin-top: .8rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 90%;            
        }
        .attack-icon {
            width: 3.4rem;
            height: 3.4rem;
        }
    }
    .attack-type-button:last-child {
        margin: 0;
    }
}

.external-assist-attack-second-row-wrapper {
    width: 100%;
    height: 12.8rem;
    background-color: var(--all-fire-attack-chocolate-bg-color);
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.50);
    margin-bottom: 1rem;
    border-radius: .9rem;
    display: flex;    
    padding: 2.2rem 2rem;
    overflow: overlay;

    .attack-type-details-button {
        height: 7.2rem;
        border-radius: .8rem;
        background-color: var(--all-fire-attack-chocolate-button-bg-color);
        min-width: 8rem;
        margin-left: 1.8rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        box-shadow: 0 0 13px 0 rgba(0,0,0,0.14);

        &.selected {
            background-color: var(--all-fire-selected-bg-color);
        }
        .attack-description {
            font-size: 1.9rem;
            position: absolute;
            bottom: -2.2rem;
            color: var(--all-fire-font-secondary-color);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 90%;
        }
        .attack-icon {
            width: 3.5rem;
            height: 3.5rem;
        }        
    }
    .attack-type-details-button:last-child {
        margin: 0;
    }
}