.ContextMenuWrapper {
  position: fixed;
  font-size: 20px;
  color: #4C657F;
  /*position: absolute;*/
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.33);
  border-radius: 17px;
}
.BranchOption {
  padding: 20px 50px;
  text-transform: none;
  cursor: pointer;
}
